body {
    width: 800px;
    margin: auto;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin: 50px;
}

.btn-link {
    text-decoration: none;
}

.icon-right {
    display: inline-flex;
}