body {
    width: 600px;
    margin: auto;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin: 25px 25px 25px 25px;
}

.btn-link {
    color: black;
    text-decoration: none;
}

.icon,
.text {
    color: grey;
}

.text {
    display: inline-block;
}